div{margin: 10px 0;}

#stdList {
  border : 1px solid black;
  margin: 0;
}

.thead {
  background-color: azure;
}

.tbody {
  background-color: beige;
}

.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}
